/* This is no longer needed. Delete if you want */

* {
	box-sizing: border-box;
}

body {
	background-color: #212121;
	color: rgb(255, 255, 255);
	font-family: 'Pangolin', cursive;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Creepster', cursive;
}

a {
	color: #FF3D00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btn {
	background-color: rgba(255, 255, 255, 0.16);
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 0.3rem;
	border-style: solid;
	border-width: 1px;
	color: rgba(255, 255, 255, 0.9);
	display: inline-block;
	margin-bottom: 1rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
	margin-left: 1rem;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.page-header {
	background-attachment: fixed;
	background-image: url('../images/360-degree_Panorama_of_the_Southern_Sky_edit1high.jpg');
	background-position: center;
	color: #fff;
	text-align: center;
}

/* Although they aren't used anymore, I'll leave these here...
.selector{
	animation-name: rotate;
	animation-duration:360s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	-webkit-animation-name: rotate;
	-webkit-animation-duration:360s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 360s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
}

@keyframes rotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform:rotate(0deg);
	}
	to {
		-moz-transform:rotate(360deg);
	}
}
*/

.project-name {
	margin-bottom: 0.1rem;
	margin-top: 0;
}

.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7; }

.main-content {
	background-color: #212121;
	z-index: 1;
}

.aplha-below {
	background: linear-gradient(to bottom, rgba(0,0,0,0.20),rgba(0,0,0,0) );
	height: 6px;
	width: 100%;
	z-index: 1;
}

.main-content :first-child {
	margin-top: 0;
}

.main-content img {
	max-width: 100%;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.main-content p {
	margin-bottom: 1em;
}

.main-content code {
	background-color: #f3f6fa;
	border-radius: 0.3rem;
	color: #383e41;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	padding: 2px 4px;
}

.main-content pre {
	background-color: #1e1e1e;
	border: solid 1px #5b5f63;
	border-radius: 0.3rem;
	color: #d4d4d4;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 0.8rem;
	word-wrap: normal;
}

.main-content pre > code {
	background: transparent;
	border: 0;
	color: #d4d4d4;
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
	white-space: pre;
	word-break: normal;
}

.main-content .highlight {
	margin-bottom: 1rem;
}

.main-content .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.main-content .highlight pre,
.main-content pre {
	padding: 0.8rem;
	overflow: auto;
	font-size: 0.9rem;
	line-height: 1.45;
	border-radius: 0.3rem;
}

.main-content pre code,
.main-content pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
	content: normal;
}

.main-content ul, .main-content ol {
	margin-top: 0;
}

.main-content blockquote {
	border-left: 0.3rem solid #819198;
	color: #819198;
	margin-left: 0;
	padding: 0 1rem;
}

.main-content blockquote > :first-child {
	margin-top: 0;
}

.main-content blockquote > :last-child {
	margin-bottom: 0;
}

.main-content table {
	display: block;
	overflow: auto;
	width: 100%;
	word-break: keep-all;
}

.main-content table th {
	font-weight: bold;
}

.main-content table th, .main-content table td {
	border: 1px solid #e9ebec;
	padding: 0.5rem 1rem;
}

.main-content dl {
	padding: 0;
}

.main-content dl dt {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
	padding: 0;
}

.main-content dl dd {
	padding: 0;
	margin-bottom: 1rem;
}

.main-content hr {
	background-color: #eff0f1;
	border: 0;
	height: 2px;
	margin: 1rem 0;
	padding: 0;
}

.site-footer {
	border-top: solid 1px #eff0f1;
	margin-top: 2rem;
	padding-top: 2rem;
}

.site-footer-owner {
	display: block;
	font-weight: bold;
}

.site-footer-credits {
	color: #819198;
}

@media screen and (min-width: 64em) {
	.btn {
		padding: 0.75rem 1rem;
	}

	.page-header {
		padding: 5rem 6rem;
	}

	.project-name {
		font-size: 3.25rem;
	}

	.project-tagline {
		font-size: 1.25rem;
	}

	.min {
		max-width: 64rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.btn {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}

	.page-header {
		padding: 3rem 4rem;
	}

	.project-name {
		font-size: 2.25rem;
	}

	.project-tagline {
		font-size: 1.15rem;
	}

	.main-content {
		padding: 0rem 4rem;
		font-size: 1.1rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

@media screen and (max-width: 42em) {
	.btn {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;
	}

	.btn + .btn {
		margin-top: 1rem;
		margin-left: 0;
	}

	.page-header {
		padding: 2rem 1rem;
	}

	.project-name {
		font-size: 1.75rem;
	}

	.project-tagline {
		font-size: 1rem;
	}

	.main-content {
		padding: 0rem 1rem;
		font-size: 1rem;
	}

	.site-footer {
		font-size: 0.9rem;
	}
}
