* {
	box-sizing: border-box;
}

body {
	background-color: #212121;
	color: rgb(255, 255, 255);
	font-family: 'Pangolin', cursive;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Creepster', cursive;
}

a {
	color: #FF3D00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btn {
	background-color: transparent;
	border-radius: 0.3rem;
	color: rgba(255, 255, 255, 0.9);
	display: inline-block;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
	margin-left: 1rem;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome */
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

::-ms-input-placeholder { /* IE 10+ */
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.page-header {
	background-attachment: fixed;
	background-image: url('../images/360-degree_Panorama_of_the_Southern_Sky_edit1high.jpg');
	background-position: center;
	color: #fff;
	text-align: center;
}

.project-name {
	color: white;
	margin-bottom: 0.1rem;
	margin-top: 0;
}


.project-tagline {
	color: white;
	font-weight: normal;
	margin-bottom: 2rem;
	opacity: 0.7;
}

@media screen and (max-width: 43.5em) {
	.show-big-only {
		display: none;
	}
}

.main-content {
	background-color: #212121;
	z-index: 1;
}

.aplha-below {
	z-index: 1;
	height: .375em;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.20),rgba(0,0,0,0) );
}

.main-content :first-child {
	margin-top: 0;
}

.main-content img {
	max-width: 100%;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
	color: #ffffff;
	display: inline-block;
	font-weight: normal;
	margin-bottom: 0rem;
}

.main-content p {
	margin-bottom: 1em;
}

.main-content code {
	background-color: #383e41;
	border-radius: 0.3rem;
	color: #f3f6fa;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	padding: 2px 4px;
}

.main-content pre {
	background-color: #1e1e1e;
	border: solid 1px #5b5f63;
	border-radius: 0.3rem;
	color: #d4d4d4;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 0.8rem;
	word-wrap: normal;
}

.main-content pre > code {
	background: transparent;
	border: 0;
	color: #d4d4d4;
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
	white-space: pre;
	word-break: normal;
}

.main-content .highlight {
	margin-bottom: 1rem;
}

.main-content .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.main-content .highlight pre,
.main-content pre {
	border-radius: 0.3rem;
	font-size: 0.9rem;
	line-height: 1.45;
	overflow: auto;
	padding: 0.8rem;
}

.main-content pre code,
.main-content pre tt {
	background-color: transparent;
	border: 0;
	display: inline;
	line-height: inherit;
	margin: 0;
	max-width: initial;
	overflow: initial;
	padding: 0;
	word-wrap: normal;
}

.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
	content: normal;
}

.main-content ul,
.main-content ol {
	margin-top: 0;
}

.main-content blockquote {
	border-left: 0.3rem solid #819198;
	color: #819198;
	margin-left: 0;
	padding: 0 1rem;
}

.main-content blockquote > :first-child {
	margin-top: 0;
}

.main-content blockquote > :last-child {
	margin-bottom: 0;
}

.main-content table {
	display: block;
	overflow: auto;
	width: 100%;
	word-break: keep-all;
}

.main-content table th {
	font-weight: bold;
}

.main-content table th,
.main-content table td {
	padding: 0rem 1rem;
}

.main-content dl {
	padding: 0;
}

.main-content dl dt {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
	padding: 0;
}

.main-content dl dd {
	margin-bottom: 1rem;
	padding: 0;
}

.main-content hr {
	background-color: #eff0f1;
	border: 0;
	height: 2px;
	margin: 1rem 0;
	padding: 0;
}

.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px #eff0f1;
}


.site-footer-owner {
	display: block;
	font-weight: bold;
}


.site-footer-credits {
	color: #819198;
}


@media screen and (min-width: 64em) {
	.btn {
		padding: 0.75rem 1rem;
	}

	.page-header {
		padding: 2.5rem 3rem;
	}

	.project-name {
		display: inline;
		font-size: 3.25rem;
	}

	.project-tagline {
		font-size: 1.25rem;
	}

	.min {
		max-width: 64rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.btn {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}

	.page-header {
		padding: 1.5rem 2rem;
	}

	.project-name {
		font-size: 2.25rem;
	}

	.project-tagline {
		font-size: 1.15rem;
	}

	.main-content {
		padding: 0rem 4rem;
		font-size: 1.1rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

@media screen and (max-width: 42em) {
	.btn {
		display: block;
		font-size: 0.9rem;
		padding: 0.75rem;
		width: 100%;
	}

	.btn + .btn {
		margin-left: 0;
		margin-top: 1rem;
	}

	.page-header {
		padding: 1rem .5rem;
	}

	.project-name {
		font-size: 1.75rem;
	}

	.project-tagline {
		font-size: 1rem;
	}

	.main-content {
		padding: 0rem 1rem;
		font-size: 1rem;
	}

	.site-footer {
		font-size: 0.9rem;
	}
}

.parameters {
	border-collapse:collapse;
	vertical-align: top;
}

.scopeOperator {
	display: inline-block;
}

.dropdownmenu {
	background-color: #212121;
	box-shadow: 0px 0em 1.5em 0px rgba(0, 0, 0, .8);
	display: none;
	padding-top: .1em;
	padding-right: .5em;
	padding-bottom: .1em;
	padding-left: .5em;
	position: absolute;
}

.dropdownmenu a {
	display: block;
}

.showmenu {
	display: block;
}

.navbar {
	display: inline;
}

.pageName {
	margin-top: -.1rem;
}

.parentNamespaces {
	opacity: 0.666666666666;
}

.parentNamespaces:hover {
	opacity: 1;
}
